*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, menu, .sidebar, .main-content, #footer{
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    text-align: center;
}

header, #footer{
    background-color: pink;
}

menu{
    background-color: palevioletred;
    justify-content: space-around;
}

.sidebar{
    background-color: papayawhip;
    flex-grow: 1;
}

.main-content{
    background-color: plum;
    flex-grow: 4;
}

.container{
    display: flex;
    flex-direction: column;
}

.content-wrapper{
    display: flex;
    height: 20rem;
}